.time{
    font-size: 40px;
    text-align: center;
    color: #293462;
    background: rgba(113,137,191,0.3);
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
}
.time:hover{
    background:#696464 ;
    color:#e9e5dd ;
    transition-delay: 50ms;
    transition-duration: 200ms;
}
.zuo{
    text-align: left;
}
.you{
    text-align: right;
}